# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/monghwan-server/build.gradle.kts
/monghwan-server/src/minecraft
/paper-server
/monghwan-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
